<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    {% include "base/css.html" %}   
    {% block css %}

    {% endblock %}
</head>
<body>
    <header class="header">

    </header>
    <main id="bd">
        {% block main %}

        {% endblock main %}
    </main>
    <footer>
        {% block footer %}

        {% endblock footer %}
    </footer>
    
</body>
{% include "base/js.html" %}
{% block js %}

{% endblock js %}
</html>